@import-normalize;

* {
	box-sizing: border-box;
}

html {
	min-width: 100%;
	min-height: 100%;
	background-color: #eef6fb;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: 100vw;
	min-height: 100vh;
	background-color: #eef6fb;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
img,
p {
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	justify-content: center;
	background-color: #eef6fb;
}
